@page
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="text-center">
    <h1 class="display-4">Document Creation</h1>
</div>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CKEditor 5 Sample</title>
    <link rel="stylesheet" href="../../assets/vendor/ckeditor5/ckeditor5.css">
    <style>
        .main-container {
            width: 795px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <form asp-controller="ManageDocument" asp-action="SaveDocument" method="post">
        <p>Enter the name of the document to be </p>
        <input type="text" name="docName" placeholder="Enter document name" />

        <div class="main-container">
            <div class="editor-container editor-container_classic-editor" id="editor-container">
                <div class="editor-container__editor">
                    <textarea name="content" id="editor"></textarea></div>
                <p><input type="submit" value="Submit to Database"></p>

            </div>
        </div>
    </form>
    
    <script type="importmap">
        {
            "imports": {
                "ckeditor5": "../../assets/vendor/ckeditor5/ckeditor5.js",
                "ckeditor5/": "../../assets/vendor/ckeditor5/",
                "ckeditor5-premium-features": "../../assets/vendor/ckeditor5-premium-features/ckeditor5-premium-features.js",
                "ckeditor5-premium-features/": "../../assets/vendor/ckeditor5-premium-features/"
            }
        }
    </script>
    <script type="module" src="../../assets/vendor/main.js"></script>

    
</body>
</html>