@model Group9_iCareApp.Models.Document
@{
    Document document = (Group9_iCareApp.Models.Document)ViewData["Document"];
}

<h1> View Documents</h1>


@if (document != null)
{
    <object data='@Url.Action("ViewPdf", "ManageDocument", new {fileName = document.DocumentName})' width="100%" height="600px" name=@document.DocumentName></object>
}
else
{
    <h3>Sorry!</h3>
    <p>The document you are trying to view cannot be found.</p>
}


