@model Group9_iCareApp.Models.PatientRecord
@{
    ViewBag.Title = "Patient Creation";
    var locations = (SelectList)ViewData["Locations"];
    var bloodGroups = (SelectList)ViewData["BloodGroups"];
}

<h2>Create New Patient</h2>

<form id="patientCreation" asp-action="CreatePatient" asp-controller="AssignPatient" method="post">
    <div class="form-group">
        <label class="mt-4" for="LocationId">Location</label>
        <select asp-for="LocationId" asp-items="locations" class="form-select"></select>
    </div>

    <div class="form-group">
        <label class="mt-4" for="Fname">First Name</label>
        <input class="form-control mt-4" type="text" asp-for="Fname" />
    </div>

    <div class="form-group">
        <label class="mt-4" for="Lname">Last Name</label>
        <input class="form-control mt-4" type="text" asp-for="Lname" />
    </div>

    <div class="form-group">
        <label class="mt-4" for="Address">Address</label>
        <input class="form-control mt-4" type="text" asp-for="Address" />
    </div>

    <div class="form-group">
        <label class="mt-4" for="DateOfBirth">Date of Birth</label>
        <input class="form-control mt-4" type="date" asp-for="DateOfBirth" />
    </div>

    <div class="form-group">
        <label class="mt-4" for="Height">Height (inches)</label>
        <input class="form-control mt-4" type="number" asp-for="Height" step="1" />
    </div>

    <div class="form-group">
        <label class="mt-4" for="Weight">Weight (pounds)</label>
        <input class="form-control mt-4" type="number" asp-for="Weight" step="0.01" />
    </div>

    <div class="form-group">
        <label class="mt-4" for="BloodGroup">Blood Group</label>
        <select asp-for="BloodGroup" asp-items="bloodGroups" class="form-select"></select>
    </div>

    <div class="form-group">
        <label class="mt-4" for="BedId">Bed ID</label>
        <input class="form-control mt-4" type="text" asp-for="BedId" />
    </div>

    <div class="form-group">
        <label class="mt-4" for="TreatmentArea">Treatment Area</label>
        <input class="form-control mt-4" type="text" asp-for="TreatmentArea" />
    </div>

    <button type="submit" class="btn btn-primary mt-4">Create Patient</button>
</form>
