

<div class="container mt-4">
    <h1>About Us</h1>

    <div class="mt-4">
        <h2>Our Mission</h2>
        <p>
            iCare is a modern Healthcare Document Management System created to streamline document management at healthcare centers across Missouri (although headquartered in Columbia, Missouri).
            Our mission is to transform paper-based workflows into efficient, digital processes, ensuring better patient care and improved efficiency for healthcare providers.
        </p>
    </div>

    <div class="mt-4">
        <h2>Overview of iCare</h2>
        <p>
            iCare aims to automate and digitize patient document management for healthcare workers. The project was initiated by Dr. Abdelnasser Ouda, professor at the University of Missouri, to address the challenges of paper-based record-keeping in a highly regulated healthcare environment. With iCare, clinicians can efficiently capture, access, and manage patient information through an intuitive interface.
        </p>
        <img src="~/assets/images/Doctor-use-iCare.jpg" style="width: 500px; height: auto;" alt="Picture of doctor using iCare." />
    </div>

    <div class="mt-4">
        <h2>Key Features</h2>
        <ul>
            <li><strong>Streamlined Data Entry:</strong> The system eliminates repetitive data entry tasks, enabling clinicians to focus on patient care.</li>
            <li><strong>Patient and Document Management:</strong> iCare offers tools to create, manage, and tag patient records and documents, helping clinicians access the information they need quickly.</li>
            <li><strong>Advanced Document Importing:</strong> Supports importing and converting scanned documents into PDFs, ensuring that all documents are accessible in a single repository.</li>
            <li><strong>Role-Based Access:</strong> Role-based control ensures only authorized users can access or modify sensitive patient data, maintaining high standards of data privacy and security.</li>
        </ul>
    </div>

    <div class="mt-4">
        <h2>Contact Information</h2>
        <p>
            For more information about iCare and our mission, please contact:
        </p>
        <img src="~/assets/images/Abdelnasser-Ouda.jpg" alt="Picture of Abdelnasser Ouda" />
        <address>
            Abdelnasser Ouda, Software Engineering Professor<br>
            Naka Hall 209<br>
            Columbia, Missouri<br>
            aouda@missouri.edu<br />
        </address>
    </div>
</div>