@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello</h1>
    <a asp-controller="Home" asp-action="LoginPage" class="btn btn-primary">Login</a>
    <a asp-controller="Home" asp-action="RegisterPage" class="btn btn-secondary">Sign up</a>
</div>
